html{
    height: 100%;
    width: 100%;
    background-color: #3a68b7;;
}

*{
    padding: 0%;
    margin: 0;
}

body{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.formulario{
    padding: 20px;
    width: 490px;
    height: 310px;
    background-color: #ffff;
}

fieldset{
    border: none;
}

legend{
    text-transform: uppercase;
    margin-bottom: .5em;
    color: #3a68b7;
    font-weight:500;
    font-size: 1.6em;
}

#email{
    border-left: none;
    border-top: none;
    border-right: none;
    margin-left: 1em;
}
.pemail{
    margin-top: 1em;
    text-transform:uppercase;
    color: #3a68b7;
    margin-bottom: 1em;
}
.email{
    display: flex;
    flex-direction: column;
}

.senha{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.psenha{
    margin-top: 1em;
    text-transform:uppercase;
    margin-bottom: .1em;
    color: #3a68b7;
}

#senha{
    margin-left: 1em;
    border-top: none;
    border-left: none;
    border-right: none;
}

text{
    margin-left: 1em;
    border-top: none;
    border-left: none;
    border-right: none;
}

.btns{
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
}

.btn__login{
    background-color: #3a68b7;
    border: none;
    padding: 5px 20px;
    text-transform:uppercase;
    color:#ffff;
}
input:invalid{
    border: 2px solid red;
}


input:valid{
    border: 2px solid green;
}